{
  "targets": {
    "edge": "17",
    "firefox": "60",
    "safari": "11.1",
    "chrome": "58",
    "ie": "11"
  },
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "corejs": 3,
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["polyfill-corejs3", {
      "method": "usage-global"
    }],
    "@babel/syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
  ]
}
