@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: normal;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #071f32;
  overflow-x: hidden;
}

p {
  line-height: 1.5rem;
}

h1 {
  font-size: 36px;
  margin: 10px 0 30px 0;
  font-weight: 500;
  line-height: 1.1em;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: #fff;
}

a {
  color: rgba(30, 75, 117, 1);
  text-decoration: none;
  -webkit-transition: color .14s ease-out, background-color .14s ease-out;
  transition: color .14s ease-out, background-color .14s ease-out;
  cursor: pointer;
}

a.light {
  color: #fff;
}

a.light:hover {
  color: #19506e;
}

textarea {
  resize: vertical;
}

.dark-section a.light {
  color: rgba(255, 255, 255, .79);
  text-align: center;
  text-decoration: underline;
}

.flex-center {
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app > .page {
  flex: 1 0 auto;
}

.app > .page > div:not(.home) {
  margin: 15px 0;
}

.col-sm-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.header-top {
  background-color: #00AF96;
  color: rgba(255, 255, 255, .79);
  font-family: "Segoe UI";
  font-weight: 500;
  font-size: 13px;
  padding: 10px 0 11px 0;
}

.header-top a {
  color: rgba(255, 255, 255, .79);
  font-family: "Segoe UI";
  font-weight: 500;
  font-size: 13px;
}

.header-top a:hover {
  color: rgba(255, 255, 255, .99);
}

nav.main-navigation {
  background-color: #fff;
  display: block;
  width: 100%;
  padding: 0;
  line-height: normal;
  border-bottom: 4px solid #19506e;
}

nav.main-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.main-navigation li {
  display: inline-flex;
  height: 66px;
  align-items: center;
}

.main-navigation li.highlight {
  background-color: #19506e;
}

.main-navigation a {
  color: #19506e;
  padding: 12px 13px 12px;
  font-weight: 700;
  font-size: 14px;
  font-family: 'Montserrat', Roboto, "Helvetica Neue", Arial, sans-serif;
}

.main-navigation li.highlight a {
  color: #fff;
}

.main-navigation a:hover {
  text-decoration: underline;
}

.logo-wrapper {
  width: 100%;
  display: inline-block;
}

.logo-wrapper a {
  display: block;
  padding: 0;
}

.logo-wrapper img {
  width: 100%;
  height: auto;
}

header .logo-wrapper img {
  height: 24px;
  vertical-align: middle;
  text-align: left;
  width: auto;
}

.page-not-found-section {
  display: flex;
  height: 70vh;
  align-items: center;
  text-align: center;
}

.page-not-found-content img {
  width: 100%;
  height: auto;
  max-width: 240px;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto", Sans-serif;
  display: inline-block;
  padding: 15px 30px;
  cursor: pointer;
  border: 0;
  outline: none;
}

.btn.btn-primary {
  background-color: #19506e;
  color: #fff;
}

.btn.btn-primary:hover {
  background-color: #1d5d80;
}

.btn.btn-secondary {
  background-color: #fff;
  text-align: center;
  border: 4px solid #00AF96;
  text-transform: uppercase;
  padding: 10px 35px;
}

.btn.btn-secondary:hover {
  background-color: #00AF96;
  color: #fff;
}

.btn.btn-vote {
  color: #fff;
  border-radius: 0;
  display: block;
  width: 100%;
  margin: 0 0 24px 0;
}

.btn.btn-vote:hover {
  opacity: 0.9;
}

.content {
  padding: 0;
}

.news-box-elem img {
  width: 100%;
}

.btn-wrapper {
  text-align: center;
}

.focus-title {
  margin-bottom: 25px;
  font-size: 2.0rem;
  font-weight: 700;
  text-align: center;
  margin-top: 70px;
  color: #19506e;
}

.dark-section {
  background-color: #19506e;
  padding: 60px 0;
  color: #fff;
}

.light-section,
.dark-section {
  margin: 70px 0;
}

.section-title {
  font-size: 36px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.hamburger-menu,
.hamburger-menu-wrapper {
  display: none;
}

.hamburger-menu {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  cursor: pointer;
}

.hamburger-menu > .hamburger-menu-elem {
  background-color: #19506e;
  height: 4px;
  margin-bottom: 4px;
}

.hamburger-menu-wrapper {
  text-align: right;
  margin-top: 8px;
}

.mobile-menu {
  padding-bottom: 20px;
  background-color: #19506e;
}

.mobile-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu>div>ul>li>a {
  display: block;
  padding: 8px 0;
  font-weight: bold;
  color: #FFF;
}

footer {
  padding-top: 0px;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 300;
}

footer .dark-section {
  background-color: #071f32;
  margin: 0;
  padding: 30px 0 0 0;
}

footer .logo-wrapper {
  width: 140px;
}

footer .fa-stack {
  color: #ffffff;
}

footer .fa-inverse {
  color: #071f32;
}

.line-one {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.news-wrapper {
  margin-bottom: 0;
}

.form-wrapper {
  display: inline-block;
  min-width: 280px;
}

.form-wrapper select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  color: #555;
  background-color: #fff;
}

.input-wrapper {
  margin-bottom: 20px;
}

.input-wrapper:last-of-type {
  margin-bottom: 0;
}

.input-wrapper > label {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
  color: #19506e;
}

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select {
  width: 100%;
  outline-color: #19506e;
  line-height: normal;
}

.page-login .form-wrapper {
  display: block;
}

.input-tipp {
  font-size: 14px;
  line-height: normal;
  margin-bottom: 4px;
}

button,
input,
optgroup,
select,
textarea {
  box-shadow: none;
  border: 1px solid #19506e;
  border-radius: 3px;
}

input,
select,
textarea {
  padding: 10px;
  font-size: 16px;
}

input[type="submit"] {
  margin-top: 30px;
}

.page-login .page {
  display: block;
  background-color: transparent;
  background: none;
  border-radius: 0;
  margin-top: 30px;
  box-shadow: none;
  border: 0;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
}

.page-login-section {
  width: 100%;
}

.error-message {
  margin: 0 0 25px 0;
  background-color: darkred;
  color: #fff;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
}

.success-message {
  margin: 0 0 25px 0;
  background-color: darkgreen;
  color: #fff;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
}

.error-message-inline {
  color: darkred;
  font-style: italic;
}

.loading-overlayer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 80, 110, 0.95);
  z-index: 99;
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.loading-overlayer .loader {
  display: inline-block;
  margin: 0 auto;
}

.loading-overlayer .loader .loader-spinner {
  margin-top: 20px;
}

.prop .form-wrapper {
  width: 100%;
}

.prop {
  padding-bottom: 30px;
}

.prop-wrapper {
  margin: 15px 0;
  height: 92%;
  height: calc(100% - 30px);
  font-family: Roboto, sans-serif;
}

.prop-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.prop-single-sidebar {
  padding: 50px 5px;
  background-color: #f9f9f9;
  height: 100%;
}

.prop-tags-wrapper {
  width: 100%;
  min-height: 20px;
}

.prop-content-wrapper {
  border: 4px solid #19506e;
  flex: 1 0 auto;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.prop-content {
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
}

.prop-picture {
  width: 100%;
  height: 200px;
  background-color: #19506e;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none !important;
}

.prop-picture img {
  width: 50%;
  height: auto;
}

.prop-category {
  font-size: 18px;
  font-weight: bold;
  background-color: #19506e;
  color: #fff;
  padding: 14px;
}

.prop-title {
  font-weight: bold;
  font-size: 18px;
  margin: 15px 0;
  text-align: center;
  min-height: 66px;
}

.prop-title a {
  color: #071f32;
}

.prop-title a:hover {
  color: #19506e;
}

.prop-description {
  margin-bottom: 30px;
  font-size: 16px;
  margin: 0 auto;
  display: block;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  line-height: 20px;
}

.prop-more {
  margin-bottom: 35px;
}

.prop-more a {
  font-size: 14px;
}

.prop-line {
  margin: 0px 0 30px 0;
  height: 2px;
  width: 100%;
  background-color: #19506e;
}

.prop-cost {
  margin: 12px 0;
}

.prop-cost span {
  font-weight: bold;
}

.prop-single-content-title {
  font-size: 18px;
  font-weight: bold;
  background-color: #19506e;
  color: #fff;
  padding: 14px;
}

.prop-single-content {
  padding: 25px 15px;
  flex: 1 0 auto;
}

.prop-single-submitter {
  font-weight: bold;
}

.prop-inner-wrapper {
  margin-top: 100px;
  margin-bottom: 60px;
}

.prop-inner-header {
  background-color: #19506e;
  padding: 8px 10px 4px 40px;
  display: block;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.prop-single-content {
  font-size: 18px;
  padding: 70px 35px;
}

.prop-location {
  color: #071f32;
  font-size: 18px;
  font-weight: 700;
}

.prop-single-title {
  font-weight: bold;
  margin-bottom: 50px;
}

.prop-single-description,
.prop-single-solution {
  font-size: 18px;
  line-height: 24px;
}

.prop-info-title {
  font-size: 16px;
  text-transform: uppercase;
  margin: 32px 0 5px 0;
}

.prop-inner-content {
  border: 4px solid #19506e;
}

.prop-single-content > h2 {
  margin-top: 0;
  text-transform: uppercase;
}

.prop-info-content {
  font-size: 21px;
}

.idea,
.tag {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: #071f32;
  margin: 2px;
}

.idea a,
.tag a {
  color: #fff;
  background-color: #19506e;
  padding: 4px 8px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
}

.idea a:hover,
.tag a:hover {
  opacity: 0.9;
}

.tag a {
  font-size: 12px;
}

.copyright-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 24px 0 0 0;
}

.copyright-wrapper ul {
  flex: 1 0 auto;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

footer ul {
  display: flex;
  align-items: center;
}

footer li {
  margin: 0px 10px;
}

footer li a {
  color: #ffffff;
}

footer li a:hover {
  text-decoration: underline;
}

footer .app-version {
  padding: 15px 0px;
  color: #aaaaaa;
  font-size: 10px;
  text-align: center;
  margin: 0 auto;
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333 !important;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  font-family: 'Roboto', sans-serif;
}

fieldset label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  color: #071f32 !important;
  font-family: 'Roboto', sans-serif;
}

fieldset input[type="submit"],
fieldset input[type="text"],
fieldset input[type="password"] {
  display: block;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

fieldset button,
.registration-info .btn {
  max-width: 100%;
  border-radius: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700 !important;
  text-transform: uppercase;
  background: #19506e;
  color: #fff;
  border: 0;
  text-shadow: none;
  box-shadow: none;
  font-size: 12px !important;
  line-height: 1.5;
  display: inline-block !important;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  margin: 0;
  padding: 5px 10px !important;
}

fieldset .form-group a {
  padding: 15px 0;
  max-width: 100%;
  border-radius: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}

fieldset .form-group a:hover {
  color: #333;
  text-decoration: none;
}

fieldset .form-group .form-group-label a {
  text-transform: unset;
  font-size: inherit;
}

hr {
  height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.registration-info {
  text-align: center;
}

.registration-info p {
  font-family: Roboto, sans-serif;
  color: #071f32;
}

.filter-tag {
  background-color: #19506e;
  padding: 3px 6px;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  margin: 1px;
}

.filter-tag:hover {
  background-color: #19506e !important;
}

.bg-transition {
  -webkit-transition: color .14s ease-out, background-color .14s ease-out;
  transition: color .14s ease-out, background-color .14s ease-out;
}

.app > .page > div.projects {
  margin: 0;
  padding-bottom: 45px;
}

.search-area {
  margin: 0 0 45px 0;
  background-color: #00AF96;
  padding: 45px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.search-area h1 {
  color: #fff;
  text-align: center;
}

.search-area input[type="text"] {
  height: 48px;
  width: 100%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  border: 0px;
  border-radius: 0px;
  font-size: 16px;
  box-shadow: none;
  outline: none;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
}

.search-area select {
  height: 48px;
  width: 100%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  border: 0px;
  border-radius: 0px;
  font-size: 16px;
  box-shadow: none;
  outline: none;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-area button.btn-search {
  height: 48px;
  width: 100%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  border: 0px;
  border-radius: 0px;
  font-size: 22px;
  min-width: 34px;
}

button.map-toggle {
  background-color: #fff;
  color: #19506e;
  padding: 2px 4px;
  display: block;
  align-items: center;
  border: 2px solid #19506e;
  border-radius: 0px;
  font-size: 22px;
}

button.map-toggle:hover, button.back-button:hover,
.app .map-toggle-active {
	cursor: pointer;
	background-color: #19506e;
	color: #fff;
	transition: all 0.2s ease-in-out;
}

button.back-button {
  background-color: #fff;
  color: #19506e;
  padding: 4px;
  display: block;
  align-items: center;
  border: 2px solid #19506e;
  border-radius: 0px;
  font-size: 14px;
	font-weight: 600;
}


.map-text {
  margin-top: 4px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.map-container > div {
  width: 100% !important;
}

.tooltip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: #19506E;
  color: #fff;
  max-width: 300px;
  font-size: 10px;
  z-index: 9;
  pointer-events: none;
	border: 1px solid #aaaaaa;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group-addon, .input-group-btn, .input-group .form-control {
  display: table-cell;
}

.input-group-addon, .input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.form-group {
  margin: 0 0 15px 0;
}

.search-result {
  font-family: 'Roboto', sans-serif;
  text-align: right;
  margin-bottom: 15px;
}

.filter-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.filter-clear {
  background-color: #19506e;
  /* color: #555; */
  color: #fff;
  height: 100%;
  align-items: center;
  align-content: center;
  display: flex;
  padding: 14px 15px;
  font-family: 'Roboto', sans-serif;
  text-transform: none;
  cursor: pointer;
}

.filter-clear:hover {
  color: #fff;
  background-color: #19506e;
  text-decoration: underline;
}

.pagination {
  text-align: center;
  padding: 30px 0px 40px 0px;
}

.pagination > div {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.pagination > div.active {
  color: #ff442a;
  text-decoration: none !important;
  cursor: default;
}

.pagination > div:hover {
  text-decoration: underline;
}

.search-area button.btn-search {
  background-color: #19506e;
  color: #fff;
}

.search-area .form-group:first-of-type {
  margin-top: 45px;
}

.media-sep {
  margin: 12px 0;
}

.image-gallery-bullets .image-gallery-bullet:focus,
.image-gallery-bullets .image-gallery-bullet:hover {
  background: #19506e;
}

p.tipp,
div.tipp {
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
  margin-top: 0;
}

.prop-single-sidebar .tipp {
  margin-top: 60px;
}

.control-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 0;
  padding-top: 7px;
}

button, input, optgroup, select, textarea {
  border-radius: 0;
  padding: 5px;
}

.btn-small {
  padding: 8px 12px;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 20px !important;
}

.page-forgot-password-section input:not(.btn) {
  width: 100%;
}

.control-group input {
  width: 100%;
}

.form-group label {
  display: block;
  font-weight: normal;
}

.form-group-label {
  font-size: 14px;
  font-weight: normal;
}

label.radio-inline > input[type="radio"] {
  margin-right: 6px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.form-group-label a {
  text-decoration: underline;
}

.app > .page > div.page-registration-section {
  margin: 60px 0;
}

fieldset h4 {
  margin-bottom: 0;
}

.vote-modal {
  background-color: #19506e;
  color: #fff;
  padding: 16px;
  text-align: center;
  overflow: hidden;
  height: 54px;
  transition: all .5s ease-in-out;
}

.vote-modal h3 {
  margin: 0;
  cursor: pointer;
}

.vote-modal h3:hover {
  color: #00af96;
}

.vote-option-wrapper {
  margin: 28px 0;
}

.btn.btn-vote-final {
  border: 4px solid #FFF;
  cursor: not-allowed;
}

.btn.btn-vote-more {
  border: 4px solid #FFF;
}

.btn.btn-primary.btn-vote-active {
  cursor: pointer;
}

.btn.btn-vote-final:hover,
.btn.btn-vote-more {
  opacity: 1;
  background-color: transparent;
}

.btn.btn-vote.btn-disable {
  background-color: #d0d0d0 !important;
  opacity: 0.6;
  cursor: not-allowed;
}

.vote-login a {
  color: #fff;
  margin-top: 10px;
  display: inline-block;
  text-decoration: underline;
}

.vote-option {
  margin: 18px 0;
}

.vote-option.vote-option-placeholder {
  border: 4px dashed #fff;
  padding: 28px 16px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.vote-option.vote-option-1.vote-option-placeholder,
.vote-option.vote-option-1.vote-option-placeholder a {
  border-color: #00AF96;
  color: #00AF96;
}

.vote-option.vote-option-2.vote-option-placeholder,
.vote-option.vote-option-2.vote-option-placeholder a {
  border-color: #ef5556;
  color: #ef5556;
}

.vote-option.vote-option-3.vote-option-placeholder,
.vote-option.vote-option-3.vote-option-placeholder a {
  border-color: #bb9f6e;
  color: #bb9f6e;
}

.vote-option-item {
  display: flex;
  text-align: left;
  padding: 16px;
  color: #fff;
  align-items: center;
  overflow: hidden;
}

.vote-option.vote-option-placeholder,
.vote-option-item {
  min-height: 105px;
}

.vote-option-content {
  flex: 1 1 auto;
}

.vote-option-actions .vote-action-remove {
  cursor: pointer;
}

.vote-option-actions > div:hover {
  color: #19506e;
}

.vote-option-actions {
  padding: 15px;
}

.vote-option.vote-option-1 .vote-option-item {
  border-color: #00AF96;
  background-color: #00AF96;
}

.vote-option.vote-option-2 .vote-option-item {
  border-color: #ef5556;
  background-color: #ef5556;
}

.vote-option.vote-option-3 .vote-option-item {
  border-color: #bb9f6e;
  background-color: #bb9f6e;
}

.vote-option-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.vote-option-description {
  font-size: 16px;
}

.vote-modal + .mobile-menu {
  border-top: 2px solid #00af96;
}

.statistics {
  padding-bottom: 30px;
}

.stat-wrapper {
  border-top: 1px solid #ddd;
}

.stat-content a {
  padding: 8px 4px;
  display: flex;
}

.stat-content a:hover {
  background-color: #00af96;
  color: #fff;
}

.stat-content a .stat-title {
  flex: 1 0 auto;
}

.stat-count {
  margin-left: 5px;
}

.stat-id {
  margin-right: 5px;
}

.tab-wrapper {
  margin: 12px 0 44px 0;
  text-align: center;
}

.statistics h1 {
  text-align: center;
}

ul.tab {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.tab li {
  display: inline-block;
}

ul.tab li a {
  display: block;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

ul.tab li.active a {
  border-bottom: 4px solid #19506e;
}

.hide {
  display: none;
}

a.logout {
  color: #fff;
  margin-top: 20px;
  display: block;
  margin-top: 20px;
  text-decoration: underline;
}

a.logout:hover {
  color: #00af96;
}

p.error {
  color: #ef5556;
  font-style: italic;
}

@media screen and (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1170px;
  }
}

@media screen and (max-width: 991px) {
  .desktop-menu {
    display: none;
  }

  .hamburger-menu-wrapper {
    display: block;
  }

  nav.main-navigation {
    padding: 10px 0;
  }

  header .logo-wrapper img {
    height: 19px;
  }

  .prop-inner-header {
    font-size: 36px;
    padding: 8px 10px 4px 20px;
  }

  h1.prop-single-title {
    font-size: 32px;
  }

  .page-login-section .form-group a.btn {
    display: block !important;
    width: 100%;
    text-overflow: unset;
    white-space: normal;
    padding-bottom: 0;
  }

  .page-login-section .form-group > div {
    display: block !important;
  }

  .page-login-section .form-wrapper {
    min-width: auto;
  }
}

@media screen and (max-width: 767px) {
  footer .logo-wrapper {
    width: 140px;
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  .copyright-wrapper {
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
  }

  .copyright-wrapper ul {
    justify-content: center;
    flex-direction: column;
  }

  .copyright {
    margin-bottom: 14px;
  }

  footer li a {
    color: #ffffff;
    padding: 6px 0;
    display: block;
  }

  .line-one {
    flex-direction: column;
  }

  .line-one > div {
    margin: 8px 0;
  }

  .form-wrapper {
    min-width: initial;
    width: 100%;
  }

  .projects select[name="theme"] {
    margin-bottom: 1em;
  }
  .projects .filter-clear {
    height: 48px;
    width: 100%;
    padding: 0px 10px;
    margin-top: 1em;
  }
}

@media screen and (max-width: 769px) {
  .search-area h1 {
    font-size: 28px;
  }

  .search-area select {
    margin-bottom: 15px;
  }

  .prop-inner-wrapper {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .prop-single-sidebar {
    padding: 0 5px;
  }

  .prop-single-sidebar .prop-single-content {
    display: flex;
    flex-direction: column;
  }

  .prop-single-sidebar .prop-single-content .btn.btn-vote {
    order: 2;
    margin-top: 30px;
  }

  .prop-single-content {
    padding: 40px 35px;
  }
}

@media screen and (max-width: 576px) {
  .vote-modal h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 442px) {
  .vote-modal {
    padding: 8px;
  }
}

