body {
  font-size: 18px;
  font-family: 'Source Sans Pro', "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: normal;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #19506E;
  overflow-x: hidden;
}

p, li {
  line-height: 1.5rem;
}

h1 {
  font-size: 36px;
  margin: 10px 0 30px 0;
  font-weight: 500;
  line-height: 1.1em;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: #fff;
}

a {
  color: rgba(30, 75, 117, 1);
  -webkit-transition: color .14s ease-out, background-color .14s ease-out;
  transition: color .14s ease-out, background-color .14s ease-out;
  cursor: pointer;
  font-family: 'Source Sans Pro', "Helvetica Neue", Arial, sans-serif;
}

a.light {
  color: #fff;
}

a.light:hover {
  color: #0EA6CE;
}

textarea {
  resize: vertical;
}

.flex-center {
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app > .page {
  flex: 1 0 auto;
}

.app > .page > div {
  margin: 35px 0;
}

.app > .page > div.home,
.app > .page > div.page-home-section,
.app > .page > div.ideas {
  margin: 0;
}

.col-sm-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

nav.main-navigation {
  background-color: #f6d05f;
  display: block;
  width: 100%;
  padding: 4px 0;
  line-height: normal;
  border-bottom: 2px solid #f6d05f;
  height: 64px;
}

nav.main-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.main-navigation li {
  display: inline-flex;
  align-items: center;
}

.main-navigation a {
  color: #12326E;
  padding: 16px 13px 16px;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}

a.profile-menu {
  padding: 9px 13px 7px 13px;
}

.main-navigation a.active {
  color: #fff;
}

.main-navigation a:hover {
  text-decoration: underline;
}

.logo-wrapper {
  width: 100%;
  display: inline-block;
}

.logo-wrapper a {
  display: inline-block;
  padding: 0;
}

.logo-wrapper img {
  width: 100%;
  height: auto;
}

header .logo-wrapper img {
  height: 52px;
  vertical-align: middle;
  text-align: left;
  width: auto;
}

.page-not-found-section {
  display: flex;
  height: 70vh;
  align-items: center;
  text-align: center;
}

.page-not-found-content img {
  width: 100%;
  height: auto;
  max-width: 240px;
}

.btn {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  padding: 15px 30px;
  cursor: pointer;
  border: 0;
  outline: none;
  text-decoration: none;
  border-radius: 4px;
}

.btn.btn-primary {
  background-color: #0EA6CE;
  color: #fff;
}

.btn.btn-primary:hover {
  background-color: #0d94b7;
}

.btn.btn-secondary {
  background-color: #fff;
  text-align: center;
  border: 4px solid #00AF96;
  text-transform: uppercase;
  padding: 10px 35px;
}

.btn.btn-secondary:hover {
  background-color: #00AF96;
  color: #fff;
}

.btn.btn-warning {
  background-color: #f6d05f;
  color: #fff;
}

.btn.btn-warning:hover {
  background-color: #f3dd52;
}

.btn.btn-danger {
  background-color: #e00000;
  color: #fff;
}

.btn.btn-danger:hover {
  background-color: #cf0404;
}

.btn-danger-2 {
  border: 2px solid #e00000;
  background-color: #fff !important;
  color: #e00000 !important;
}

.btn.btn-danger-2:hover {
  background-color: #cf0404 !important;
  color: #fff !important;
}

.input-wrapper input:focus,
.input-wrapper textarea:focus,
.input-wrapper select:focus {
  border-color: #0EA6CE !important;
}

.btn + .btn {
  margin-left: 12px;
}

.btn-wrapper-flex {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
}

.btn.btn-vote {
  color: #fff;
  border-radius: 0;
  display: block;
  width: 100%;
  margin: 0 0 24px 0;
  font-size: 16px;
}

.btn.btn-vote:hover {
  opacity: 0.9;
}

.content {
  padding: 0;
}

.news-box-elem img {
  width: 100%;
}

.btn-wrapper {
  text-align: center;
}

.focus-title {
  margin-bottom: 25px;
  font-size: 2.0rem;
  font-weight: 700;
  text-align: center;
  margin-top: 70px;
  color: #0EA6CE;
}

.dark-section,
.light-section {
  padding: 20px 0;
}

footer .fa-layers {
  color: #454347;
}

footer.post-card-meta {
  background: none;
}

.post-card-content .post-more {
  display: inline-block;
}

.dark-section {
  background-color: #0EA6CE;
  color: #fff;
}

.dark-section .post-card-content .post-more {
  background-color: #fff;
  color: #12326e;
  border: 2px solid #fff;
  padding: 6px 16px;
  font-weight: bold;
  display: inline-block;
}

.dark-section a.light {
  color: rgba(255, 255, 255, .79);
  text-align: center;
  text-decoration: underline;
}

.more-posts {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}

.dark-section .more-posts a {
  color: #fff;
}

.post-card-content {
  padding: 8px 0;
  height: 100%;
}

header.post-full-header {
  flex: 1 0 auto;
}

article.post-card:hover .post-more {
  background-color: #fff;
  color: #0ea6ce;
  border: 2px solid #0ea6ce;
  position: relative;
}

.dark-section article.post-card:hover .post-more {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}

.section-title {
  font-size: 36px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.hamburger-menu,
.hamburger-menu-wrapper {
  display: none;
}

.hamburger-menu {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 7px;
}

.hamburger-menu-subtitle {
  font-size: 14px;
  font-weight: bold;
  color: #12326E;
}

.hamburger-menu > .hamburger-menu-elem {
  background-color: #12326E;
  height: 4px;
  margin-bottom: 4px;
}

.hamburger-menu-wrapper {
  text-align: right;
  padding-top: 2px;
}

.mobile-menu {
  padding: 20px 0;
  background-color: #f6d05f;
}

.mobile-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu ul>li>a {
  display: block;
  padding: 8px 0;
  font-weight: bold;
  color: #12326E;
  text-decoration: 0;
}

footer {
  padding-top: 0px;
  background-color: #0EA6CE;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
}

footer .dark-section {
  background-color: #454347;
  margin: 0;
  padding: 30px 0;
}

footer .logo-wrapper {
  width: 140px;
}

footer .fa-stack {
  color: #ffffff;
}

footer .fa-inverse {
  color: #19506E;
}

.line-one {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.news-wrapper {
  margin-bottom: 0;
}

.form-wrapper {
  display: inline-block;
  min-width: 280px;
}

.form-wrapper select {
  width: 100%;
  border: 2px solid #dcdcdc;
  border-radius: 4px;
  color: #555;
  background-color: #fff;
}

.form-wrapper select:focus {
  border: 2px solid #19506E;
}

.input-wrapper {
  margin-bottom: 20px;
}

.input-wrapper.overflow {
  overflow: hidden;
}

.input-wrapper:last-of-type {
  margin-bottom: 0;
}

.input-wrapper > label {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
  color: #0EA6CE;
}

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select {
  width: 100%;
  outline-color: #0EA6CE;
  line-height: normal;
}

.input-wrapper textarea {
  min-height: 120px;
}

.page-reset-password-section .form-wrapper,
.page-login .form-wrapper {
  display: block;
}

.input-tipp {
  font-size: 14px;
  line-height: normal;
  margin-bottom: 4px;
}

button,
input,
optgroup,
select,
textarea {
  box-shadow: none;
  border: 1px solid #0EA6CE;
  border-radius: 3px;
}

input,
select,
textarea {
  padding: 10px;
  font-size: 16px;
}

input[type="submit"] {
  margin-top: 30px;
}

.cookie-notice {
  background-color: #f6d05f;
  color: #0ea6ce;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 11;
  font-family: -apple-system, Arial, sans-serif;
}

.cookie-notice-text {
  color: #19506E;
  font-weight: 300;
  font-size: 15px;
}

.cookie-notice-container {
  padding: 8px 30px;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.cookie-notice-container > div {
  display: inline-block;
}

.cookie-notice-visible {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.cookie-notice-invisible {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.cookie-notice-buttons {
  margin: 10px;
}

.cookie-notice-buttons > button, .cookie-notice-buttons > a {
  display: inline-block;
  padding: 6px 8px;
  background-color: #0EA6CE;
  color: #fff;
  text-transform: uppercase;
  margin: 5px 0px 5px 10px;
  border-radius: 4px;
  border: none;
  font-family: 'Source Sans Pro', "Helvetica Neue", Arial, sans-serif;
}

.cookie-notice-buttons > button:first-of-type {
  margin-left: 0;
}

.cookie-notice-buttons > button:hover {
  background-color: #11415b;
  cursor: pointer;
}

.page-reset-password .page,
.page-login .page {
  margin: 30px 0;
}

.page-login-section {
  width: 100%;
}

.error-message {
  margin: 0 0 25px 0;
  background-color: #e00000;
  color: #fff;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
}

.error-message a {
  color: #fff;
}

.success-message {
  margin: 0 0 25px 0;
  background-color: darkgreen;
  color: #fff;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
}

.error .error-message-inline {
  margin: 12px 0;
  font-weight: bold;
}

.error-message-inline {
  color: #e00000;
  font-style: italic;
}

.loading-overlayer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 166, 206, 0.9);
  z-index: 99;
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.loading-overlayer .loader {
  display: inline-block;
  margin: 0 auto;
}

.loading-overlayer .loader .loader-spinner {
  margin-top: 20px;
}

.prop .form-wrapper {
  width: 100%;
}

.prop {
  padding-bottom: 30px;
}

.prop-wrapper {
  margin: 15px 0;
  height: 92%;
  height: calc(100% - 30px);
  box-shadow: 0 4px 10px 0 rgb(33 33 33 / 15%);
  border-radius: 4px;
}

.prop-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.prop-single-sidebar {
  padding: 50px 5px;
  background-color: #f9f9f9;
  height: 100%;
}

.prop-tags-wrapper {
  width: 100%;
  min-height: 20px;
}

.prop-content-wrapper {
  border: 4px solid #0EA6CE;
  flex: 1 0 auto;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.prop-content {
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
}

.prop-picture {
  width: 100%;
  height: 200px;
  background-color: #0EA6CE;
  align-items: center;
  justify-content: center;
  display: none !important;
}

.prop-picture img {
  width: 50%;
  height: auto;
}

.prop-category {
  font-size: 18px;
  font-weight: bold;
  background-color: #0EA6CE;
  color: #fff;
  padding: 10px 14px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.prop-title {
  font-weight: bold;
  font-size: 18px;
  margin: 15px 0;
  padding: 4px 0;
  text-align: center;
  min-height: 70px;
  overflow: hidden;
}

.prop-title a {
  color: #19506E;
  text-decoration: none;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}

.prop-title a:hover {
  color: #19506E;
}

.prop-description {
  font-size: 18px;
  margin: 0 auto;
  display: block;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  line-height: 20px;
  width: 100%;
}

.prop-single-paper {
  margin: 42px 0 0 0 !important;
}

.prop-single-paper > .tipp {
  margin-top: 0 !important;
}

.prop-more {
  margin-bottom: 35px;
}

.prop-line {
  margin: 0px 0 30px 0;
  height: 2px;
  width: 100%;
  background-color: #0EA6CE;
}

.prop-cost {
  margin: 12px 0;
}

.prop-cost span {
  font-weight: bold;
}

.prop-single-content-title {
  font-size: 18px;
  font-weight: bold;
  background-color: #0EA6CE;
  color: #fff;
  padding: 14px;
}

.prop-single-content {
  padding: 25px 15px;
  flex: 1 0 auto;
  overflow: hidden;
}

.prop-single-submitter {
  font-weight: bold;
}

.prop-single-history {
  background-color: #f9f9f9;
  border-top: 4px solid #f9f9f9;
}

.prop-single-history .prop-single-content {
  padding: 20px 35px;
}

.prop-inner-wrapper {
  margin-top: 100px;
  margin-bottom: 60px;
}

.prop-inner-header {
  background-color: #0EA6CE;
  padding: 8px 10px 4px 40px;
  display: block;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.prop-single-content {
  font-size: 18px;
  padding: 70px 35px;
}

.prop-location {
  color: #19506E;
  font-size: 18px;
  font-weight: 700;
}

.prop-single-title {
  font-weight: bold;
  margin-bottom: 50px;
}

.prop-single-description,
.prop-single-solution {
  font-size: 18px;
  line-height: 24px;
  white-space: pre-line;
  text-overflow: ellipsis;
  overflow: hidden;
}

.prop-info-title {
  font-size: 16px;
  text-transform: uppercase;
  margin: 32px 0 5px 0;
}

.prop-inner-content {
  border: 4px solid #0EA6CE;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.prop-single-content > h2 {
  margin-top: 0;
  text-transform: uppercase;
}

.prop-info-content {
  font-size: 21px;
}

.prop-single-share .prop-info-content {
  display: flex;
}

.prop-single-share .prop-info-content a {
  width: 30px;
  height: 30px;
  background-color: #19506E;
  border-radius: 4px;
  color: #fff;
  vertical-align: middle;
  align-items: center;
  display: flex;
  margin: 2px;
}

.idea,
.tag {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: #19506E;
  margin: 2px;
}

.idea a,
.tag a {
  color: #fff;
  background-color: #0EA6CE;
  padding: 4px 8px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  border-radius: 4px;
}

.idea a:hover,
.tag a:hover {
  opacity: 0.9;
}

.tag a {
  font-size: 12px;
}

.copyright-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 24px 0 0 0;
}

.copyright-wrapper ul {
  flex: 1 0 auto;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

footer ul {
  display: flex;
  align-items: center;
}

footer li {
  margin: 0px 10px;
}

footer li a {
  color: #ffffff;
}

footer li a:hover {
  text-decoration: underline;
}

footer .app-version {
  padding: 15px 0px;
  color: #aaaaaa;
  font-size: 10px;
  text-align: center;
  margin: 0 auto;
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

footer li.nav {
  margin-right: 0 !important;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333 !important;
  border: 0;
}

fieldset label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  color: #19506E !important;
}

form fieldset input[type="submit"],
form fieldset input[type="text"],
form fieldset input[type="password"],
form fieldset textarea,
.page-forgot-password-section input:not(.btn) {
  display: block;
  width: 100%;
  min-height: 34px;
  padding: 8px !important;
  font-size: 1rem;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  background-image: none;
  border: 2px solid #dcdcdc;
  border-radius: 4px !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

form fieldset input[type="submit"] {
  border: none;
}

fieldset .input-wrapper:not(.input-map) button,
.navigation-wrapper button,
.small .btn,
.registration-info .btn {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700 !important;
  text-transform: uppercase;
  background: #0EA6CE;
  color: #fff;
  border: 0;
  text-shadow: none;
  box-shadow: none;
  font-size: 12px !important;
  line-height: 1.5;
  display: inline-block !important;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  margin: 0;
  padding: 8px 13px !important;
  border-radius: 4px;
}

fieldset .input-wrapper:not(.input-map) button.btn:hover,
.navigation-wrapper button:hover,
.small .btn:hover,
.registration-info .btn:hover {
  background-color: #0d94b7;
}

fieldset .form-group > a {
  padding: 15px 0;
  max-width: 100%;
  border-radius: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}

.forgot-btn-wrapper > .btn {
  padding: 8px 0 0 0;
  font-size: 16px;
}

.form-group .link-elem a {
  margin-left: 12px !important;
}

.form-group .overview-value .link-elem a {
  margin-left: 0 !important;
}

.danger {
  background-color: #e00000;
}

fieldset .form-group a:hover {
  color: #333;
  text-decoration: none;
}

fieldset .form-group .form-group-label a {
  text-transform: unset;
  font-size: inherit;
}

hr {
  height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.autosuggest-wrapper .map-container {
  margin-top: 10px;
}

.location-information-wrapper {
  min-height: 34px;
  display: flex;
  align-items: center;
  align-content: center;
  margin: 12px 0;
}

.location-information-wrapper .location-delete {
  display: inline-block;
  margin-left: 12px;
}

.section fieldset {
  padding: 0;
}

.page-profile-section .btn {
  font-size: 16px !important;
}

.registration-info {
  text-align: center;
}

.registration-info p {
  color: #19506E;
}

.filter-tag {
  background-color: #0EA6CE;
  padding: 3px 6px;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  margin: 1px;
  border-radius: 4px;
}

.filter-tag:hover {
  opacity: 0.85;
}

.bg-transition {
  -webkit-transition: color .14s ease-out, background-color .14s ease-out;
  transition: color .14s ease-out, background-color .14s ease-out;
}

.app > .page > div.projects {
  margin: 0;
  padding-bottom: 45px;
}

.search-area {
  margin: 0 0 45px 0;
  background-color: #0EA6CE;
  padding: 45px 20px 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-transform: uppercase;
}

.search-area h1 {
  color: #fff;
  text-align: center;
}

.search-area input[type="text"] {
  height: 48px;
  width: 100%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  border: 0px;
  border-radius: 0px;
  font-size: 18px;
  box-shadow: none;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
}

.search-area select {
  height: 48px;
  width: 100%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  border: 0px;
  border-radius: 0px;
  font-size: 18px;
  box-shadow: none;
  outline: none;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-area button.btn-search {
  height: 48px;
  width: 100%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  border: 0px;
  border-radius: 0px;
  font-size: 22px;
  min-width: 34px;
}

.search-area p {
  color: #fff;
  text-transform: none;
  text-align: center;
}

button.map-toggle {
  background-color: #fff;
  color: #12326e;
  padding: 2px 4px;
  display: block;
  align-items: center;
  border: 2px solid #12326e;
  border-radius: 0px;
  font-size: 22px;
}

button.map-toggle:hover,
.app .map-toggle-active {
	cursor: pointer;
	background-color: #12326e;
	color: #fff;
	transition: all 0.2s ease-in-out;
}

.map-text {
  margin-top: 4px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.map-container > div {
  width: 100% !important;
}

.tooltip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: #19506E;
  color: #fff;
  max-width: 300px;
  font-size: 10px;
  z-index: 9;
  pointer-events: none;
	border: 1px solid #aaaaaa;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group-addon, .input-group-btn, .input-group .form-control {
  display: table-cell;
}

.input-group-addon, .input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.form-group {
  margin: 0 0 15px 0;
}

.form-group-category h4 {
  margin-top: 0;
}

.search-result {
  text-align: right;
  margin-bottom: 15px;
}

.filter-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.filter-clear {
  background-color: #0EA6CE;
  color: #fff;
  height: 100%;
  align-items: center;
  align-content: center;
  display: flex;
  padding: 14px 15px;
  text-transform: none;
  cursor: pointer;
}

.filter-clear:hover {
  color: #fff;
  background-color: #0EA6CE;
  text-decoration: underline;
}

.pagination {
  text-align: center;
  padding: 30px 0px 40px 0px;
}

nav.pagination > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav.pagination > ul > li {
  display: inline-block;
}

nav.pagination button {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: 0;
  vertical-align: -webkit-baseline-middle;
}

nav.pagination button.active {
  color: #0ea6ce;
  text-decoration: none !important;
  cursor: default;
}

nav.pagination button:hover {
  text-decoration: underline;
}

.search-area button.btn-search {
  background-color: #12326e;
  color: #fff;
}

.search-area .form-group:first-of-type {
  margin-top: 45px;
}

.media-sep {
  margin: 12px 0;
}

p.tipp,
div.tipp {
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 12px;
}

.prop-single-sidebar .tipp {
  margin-top: 60px;
}

.control-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}

button, input, optgroup, select, textarea {
  border-radius: 0;
  padding: 5px;
}

.btn-small {
  padding: 8px 12px;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 20px !important;
}

.control-group input {
  width: 100%;
}

.form-group label {
  display: block;
  font-weight: normal;
}

.form-group-label {
  font-size: 16px;
  font-weight: normal;
}

label.radio-inline > input[type="radio"] {
  margin-right: 6px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.form-group-label a {
  text-decoration: underline;
}

.app > .page > div.page-registration-section {
  margin: 60px 0;
}

fieldset h4 {
  margin-bottom: 0;
}

.btn.btn-vote.btn-disable {
  background-color: #d0d0d0 !important;
  opacity: 0.6;
  cursor: not-allowed;
}

.statistics {
  padding-bottom: 30px;
}

.stat-wrapper {
  border-top: 1px solid #ddd;
}

.stat-content-inner {
  display: flex;
}

.stat-content-win {
  background-color: #0EA6CE;
}

.stat-content.stat-content-win a {
  color: #fff;
}

.stat-win {
  margin-left: 6px !important;
}

.stat-content a {
  padding: 8px 4px;
  display: flex;
	justify-content: space-between;
  text-decoration: none;
}

.stat-content a:hover {
  background-color: #0ea6ce;
  color: #fff;
}

.stat-content a .stat-title {
  flex: 1 0 auto;
}

.stat-count {
  margin-left: 5px;
}

.stat-id {
  margin-right: 5px;
}

.tab-wrapper {
  margin: 12px 0 44px 0;
  text-align: center;
}

.statistics h1 {
  text-align: center;
}

ul.tab {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.tab li {
  display: inline-block;
}

ul.tab li a {
  display: block;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

ul.tab li.active a {
  border-bottom: 4px solid #0EA6CE;
}

.hide {
  display: none;
}

a.logout {
  color: #fff;
  display: block;
  margin-top: 20px;
  text-decoration: underline;
}

a.logout:hover {
  color: #0ea6ce;
}

p.error {
  color: #e00000;
  font-style: italic;
}

.form-group .radio-inline-block .radio-inline {
  display: flex;
  border: 2px solid #dcdcdc;
  padding: 12px;
  margin: 12px 0;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
}

.radio-inline-block label {
  margin-left: 0 !important;
  font-weight: bold;
}

.radio-inline.active {
  border-color: #0ea6ce;
  color: #0ea6ce;
}

.radio-inline.active a {
  color: #0ea6ce;
}

.radio-inline.active label {
  color: #0ea6ce !important;
  font-weight: bold;
}

.radio-inline-block .radio-inline input[type="radio"] {
  padding: 12px;
  display: block;
  opacity: 0.5;
  z-index: -1;
  margin: -2px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-progress-appearance: none;
  border: none;
}

.radio-inline-hide {
  background-color: white;
  width: 20px;
  height: 20px;
  z-index: 1;
  position: absolute;
  border-radius: 50%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: ' ';
}

.radio-inline-symbol {
  position: relative;
  width: 24px;
  height: 24px;
  border: 2px solid #dcdcdc;
  border-radius: 50%;
  margin-right: 14px;
}

.radio-inline.active .radio-inline-symbol {
  border-color: #0ea6ce;
}

.radio-inline.active .radio-inline-symbol:after {
  background-color: #0ea6ce;
  border-color: #0ea6ce;
  position: absolute;
  width: 16px;
  height: 16px;
  margin: auto;
  content: ' ';
  border-radius: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.radio-inline-content {
  flex: 1;
}

.form-group .radio-inline {
  display: inline-block;
}

.form-group .radio-inline label {
  display: inline-block;
}

.form-group .radio-inline input {
  width: auto;
}

div:not(.radio-inline-block) > .radio-inline + .radio-inline {
  margin-left: 12px;
}

.radio-inline label {
  margin-left: 4px;
}

.overview {
  margin-bottom: 18px;
}

.overview-name {
  font-weight: bold;
}

.overview-value {
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.link-elem {
  margin-bottom: 8px;
  display: inline-flex;
}

.link-elem > a {
  margin: 0 0 8px 0 !important;
}

input[aria-invalid="true"],
textarea[aria-invalid="true"] {
  color: #e00000 !important;
  border-color: #e00000 !important;
}

span.info-text {
  color: #218003;
}

span.info-text.info-text-empty {
  color: #19506E;
}

[aria-invalid="true"]+.validator-info span {
  color: #e00000 !important;
  margin: 2px 0 4px 0;
}

.validator-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 4px;
}

span.info-text svg {
  margin-left: 4px;
}

button > svg {
  margin: 0 4px;
}

.input-file-wrapper {
  width: 100%;
  border: 2px dashed #dcdcdc;
  border-radius: 4px;
  min-width: 120px;
  min-height: 200px;
  display: flex;
  position: relative;
  flex-direction: column;
}

.navigation-wrapper {
  margin: 20px 0;
}

.navigation-wrapper > button + button {
  margin-left: 24px;
}

.drag-area label {
  cursor: pointer;
}

.drag-area p {
  text-align: center;
}

.drag-area-overlay {
	z-index: 9;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

.drag-area.drag-active .input-file-wrapper {
  background-color: #f5f5f5;
}

.input-file-wrapper > label {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 12px 0;
}

.input-file-content svg {
  color: #0ea6ce;
}

input[type="file"] {
  display: none;
}

.file-list {
  margin: 12px;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

.file-list + .file-list-separator {
  height: 1px;
  display: block;
  background-color: #dcdcdc;
  margin: 12px;
}

.file-elem {
  display: flex;
  text-align: left;
  padding: 6px;
  align-items: center;
}

.file-elem-icon {
  color: #dcdcdc;
  margin-bottom: 6px;
  display: inline-block;
}

.file-elem-name {
  display: inline-block;
  margin-left: 10px;
}

.file-elem-remove {
  color: #e00000;
  margin-right: 14px;
  cursor: pointer;
}

.file-elem-size {
  margin-left: 4px;
}

.form-status {
  list-style: none;
  margin: 40px 20%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  user-select: none;
}

.form-status li {
  display: inline-block;
  background-color: #fff;
}

.form-status span {
  border-radius: 50%;
  border: 2px solid #0ea6ce;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  background-color: #fff;
}

.form-status:after {
  position: absolute;
  top: 0;
  height: 2px;
  background-color: #0ea6ce;
  bottom: 0;
  display: block;
  width: 98%;
  content: ' ';
  margin: auto;
  z-index: -1;
}

.form-status span.active {
  background-color: #0ea6ce;
  color: #fff;
}

.no-arrow .form-status:after {
  display: none;
}

.profile {
  padding: 12px;
  border: 2px solid #dcdcdc;
  border-radius: 4px !important;
  margin: 24px 0;
}

span.profil-name,
.profile > div {
  display: inline-block;
  vertical-align: middle;
}

span.profile-name {
  font-weight: bold;
}

a.profile-menu:hover span {
  text-decoration: underline;
}

.posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.post-card {
  width: 33%;
  margin: 12px 0 24px 0;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

h1.post-full-title {
font-size: 18px;
  font-weight: bold;
  margin: 16px 0 32px 0;
  flex: 1;
  line-height: normal;
}

.post-item a {
  text-decoration: none;
}

.post-more-wrapper {
  display: block;
  text-align: center;
}

.post-more {
  background-color: #0ea6ce;
  text-align: center;
  color: #fff;
  text-decoration: none;
  padding: 6px 12px;
  font-style: italic;
  display: inline-block;
  border-radius: 4px;
  font-size: 16px;
  border: 2px solid #0ea6ce;
}

.page-post-section span,
.post-full-meta div {
  margin-left: 4px;
  display: inline-block;
}

time.post-full-meta-date {
  font-style: italic;
}

.post-card-content a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dark-section .post-card-content a {
  color: #fff;
}

.news-feed {
  padding: 20px;
  background-color: #12326e;
}

.post-image {
  height: 230px;
}

.post-image img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.featured-image {
  text-align: center;
  margin: 16px 0;
}

.page-post-section .description {
  font-weight: bold;
}

.page-post .featured-image img {
  height: auto;
  max-height: 300px;
  width: auto;
  margin: 0 auto;
}

.hero {
  background-color: #0EA6CE;
  color: #fff;
  min-height: 522px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
}

.no-arrow .hero {
  display: block;
  text-align: center;
  padding-top: 50px;
}

.no-arrow .hero img {
  max-width: 755px;
}

.hero h2 {
  font-size: 38px;
  font-weight: bold;
  color: #f6d05f;
  text-transform: uppercase;
}

.hero-content .btn {
  margin: 30px 0 0 0;
  background-color: #f6d05f;
  color: #12326E;
}

.hero-content .btn.btn-primary:hover {
  background-color: #fce550;
}

.full-width,
.hero-images-wrapper .full-width {
  width: 100%;
  height: auto;
}

.hero-content p {
  font-size: 18px;
  margin: 4px 0;
}

.categories {
  margin: 30px 0;
}

.category-image {
  width: 180px;
  height: 80px;
  margin: 0 auto;
}

.category-image img {
  display: block;
  height: 100%;
  width: 100%;
}

.category-item {
  text-align: center;
  text-decoration: none;
  color: #fff;
  display: block;
}

.newsletter {
  background-color: #f6d05f;
  padding: 60px;
}

.newsletter img {
  width: 100%;
  height: auto;
}

.prop-single-elem {
  margin: 12px 0;
}

.prop-single-elem .widget-title {
  margin: 4px 0;
}

table {
  border-collapse: collapse;
}

table tr, table td {
  border: 2px solid;
  padding: 4px;
}

.ideas {
  padding-bottom: 60px;
}

ul.links {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.links a {
  margin-bottom: 12px;
  display: block;
}

button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus,
.implementation-thumbnail-block:focus {
  outline: dashed 3px Highlight;
  outline: dashed 2px -webkit-focus-ring-color;
  outline-offset: 2px;
}

.avatar img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 6px;
}

.profile-item {
  margin-bottom: 12px;
}

.profile-item-name {
  font-weight: bold;
}

.placeholder-item {
  box-shadow: 0 4px 10px 0 rgb(33 33 33 / 15%);
  height: 340px;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.prop-category.placeholder-loading {
  background-color: #fff;
  border: 4px solid #dddfe2;
  border-bottom: 0;
  padding: 25px 0;
}

.placeholder-loading.prop-line {
  background-color: #fff;
  height: 20px !important;
  width: 100%;
  margin-bottom: 0;
}

.placeholder-loading.prop-line-second {
  background-color: #fff;
  height: 60px !important;
  width: 100%;
  margin: 42px 0 0 0;
}

.placeholder-item .prop-content-wrapper {
  border-color: #dddfe2;
}

.placeholder-loading.btn {
  border-color: #dddfe2;
  height: 48px;
  width: 180px;
  margin-top: 18px;
}

.placeholder-loading.btn:hover {
  background-color: #fff;
  border-color: #dddfe2;
}

.placeholder-loading {
  position: relative;
  overflow: hidden;
}

.placeholder-loading::after {
  content: "";
  display: block;
  background-color: #dddfe2;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateX(0);
  animation: 1.5s loading-placeholder ease-in-out infinite;
}

@keyframes loading-placeholder {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.sharing a {
  display: inline-block;
  padding: 8px 20px 6px 2px;
}

.section {
  margin: 0 0 60px 0;
}

.prop-status {
  padding: 2px 0;
  font-size: 14px;
  font-weight: normal;
}

.prop-status > svg {
  margin-right: 4px;
}

.prop-footer {
  background-color: #ef5556;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.fix-section {
  padding-bottom: 39px;
}

.fix-section img {
  width: 100%;
  height: auto;
}

.documents > a {
  display: inline-block;
  margin: 4px;
  border-radius: 4px;
  border: 2px solid #19506e;
  color: #19506e;
}

.document {
  padding: 12px;
}

.documents > a:hover {
  background-color: #19506e;
}

.documents > a:hover .document {
  color: #fff !important;
}

.react-autosuggest__input {
  border: 2px solid #d3d3d3;
  border-radius: 10px;
  padding: 0.75em;
  height: 2.6em;
  width: 100%;
  outline: none;
}

.react-autosuggest__input:focus {
  outline: none;
  border: 2px solid #0EA6CE;
}

ul.react-autosuggest__suggestions-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.react-autosuggest__suggestion {
  padding: 4px 12px;
  font-size: 14px;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__input + .react-autosuggest__suggestions-container {
  border-top: 0;
  cursor: pointer;
}

.react-autosuggest__suggestion:hover {
  background-color: #0EA6CE;
  color: #fff;
}

.react-autosuggest__suggestion:last-child:hover {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.react-autosuggest__input:focus + .react-autosuggest__suggestions-container--open {
  border: 2px solid #0EA6CE;
  border-top: 0;
}

.react-autosuggest__suggestions-container--open {
  border: 2px solid #d3d3d3;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.react-autosuggest__input--open.react-autosuggest__input--focused {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.lds-dual-ring {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  margin: 4px;
  border-radius: 50%;
  border: 4px solid #0EA6CE;
  border-color: #0EA6CE transparent #0EA6CE transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.autosuggest-wrapper {
  position: relative;
}

.autosuggest-success input {
  border-color: #218003;
}

.loading-mini {
  position: absolute;
  top: 5px;
  right: 10px;
}

input[disabled] {
  box-shadow: 0 0 0 1000px #d3d3d3 inset;
  border-color: #c7c7c7;
}

.comment-item {
  margin: 16px 0 32px 0;
}

.comment-item:last-of-type {
  border: 0;
}

.comment-heading .comment-info .comment-submitter {
  font-weight: bold;
  margin-right: 6px;
}

.comment-heading .comment-info .comment-time {
  color: #bbbbc2;
}

.comment-body {
  margin: 12px 0;
  white-space: pre-line;
}

.comment-replies {
  margin-left: 16px;
}

.implementation-item {
  margin: 16px 0 32px 0;
}

.implementation-item:last-of-type {
  border: 0;
}

.implementation-heading .implementation-info .implementation-time {
  color: #bbbbc2;
}

.implementation-body {
  margin: 12px 0;
  white-space: pre-line;
}

.implementation-attachments h4 {
  margin-bottom: 0;
}

.gallery-thumbnail-wrapper {
  display: flex;
  margin-left: 5px;
  flex-wrap: wrap;
}

.gallery-thumbnail-block {
  width: 130px;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin: 0px 10px 10px 0px;
  overflow: hidden;
}

.gallery-thumbnail-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
  object-position: center center;
}

.gallery-thumbnail-block:hover {
  border: none;
  box-shadow: 0 0 2px 1px #19506e;
  cursor: pointer;
}

summary {
  cursor: pointer;
}

summary {
  display: list-item;
  background-color: #454347;
  color: #fff;
  padding: 12px;
}

details {
  margin: 32px 0;
}

.vote-flow legend {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #19506e !important;
  padding: 12px 0 0 0;
}

.vote-flow fieldset {
  padding: 0;
  margin: 36px 0;
}

.vote-button {
  margin: 16px 0;
}

.vote-flow h2 {
  text-align: center;
  margin-bottom: 42px;
}

.vote-flow .information {
  display: flex;
  align-items: center;
  margin: 12px 0 28px 0;
}

.vote-flow .information svg {
  font-size: 34px;
  margin-right: 12px;
}

.radio-click-area {
  width: 100%;
  display: flex;
  min-height: 82px;
}

.radio-details {
  padding: 0;
  display: block;
  margin: 12px 0 0 0;
  width: 100%;
}

.radio-details details {
  margin: 0;
  padding: 0;
  color: #19506E;
  cursor: initial;
}

.radio-details summary {
  margin: 0 auto;
  padding: 0;
  display: block;
  text-align: center;
  background: none;
  color: #fff;
  background-color: #19506E;
  width: 100%;
  padding: 6px 0;
  font-size: 18px;
  border-radius: 4px;
}

.radio-details summary::-webkit-details-marker {
  display: none;
}

.page-vote .radio-inline-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.page-vote .form-group .radio-inline-block .radio-inline {
  width: 47%;
  width: calc(50% - 24px);
  margin: 12px;
  display: flex;
  flex-direction: column;
}

.page-vote .form-group .overview .radio-inline-block .radio-inline {
  margin-left: 0;
}

.no-selected-idea {
  font-style: italic;
  margin: 12px 0;
}

.overview-value-wrapper {
  display: flex;
}

.overview-value-wrapper > div {
  width: 100%;
}

.page-vote .form-group .overview .overview-value-wrapper .radio-inline-block .radio-inline {
  width: 100%;
}

button.next-step.disabled,
button.next-step[disabled] {
  background-color: gray;
  cursor: not-allowed;
}

button.first-step {
  background-color: #0ECE41;
}

.overview-value-wrapper .radio-inline-block {
  margin-right: 12px;
  margin-top: 12px;
}

.overview-value .radio-title {
  margin-top: 12px;
}

.overview-value-wrapper .radio-inline-block {
  margin-top: 0;
}

.overview-value .radio-inline-symbol {
  display: none;
}

.overview-value .radio-inline,
.overview-value .radio-inline.active label {
  color: #19506E !important;
}

.overview-value .radio-inline.active label:hover {
  text-decoration: underline;
}

.overview-value .radio-inline label,
.overview-value .radio-click-area {
  cursor: pointer;
}

.page-vote button.first-step {
  background-color: #0EA6CE;
}

.page-vote button.submit {
  background-color: #0ECE41;
}

@media screen and (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1170px;
  }
}

@media screen and (max-width: 1210px) {
  .main-navigation a {
    padding-left: 4px;
    padding-right: 4px;
  }
}

@media screen and (max-width: 1200px) {
  .main-navigation a {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 991px) {
  .desktop-menu {
    display: none;
  }

  .hamburger-menu-wrapper {
    display: block;
  }

  nav.main-navigation {
    padding: 10px 0;
  }

  header .logo-wrapper img {
    height: 40px;
  }

  .prop-inner-header {
    font-size: 36px;
    padding: 8px 10px 4px 20px;
  }

  h1.prop-single-title {
    font-size: 32px;
  }

  .page-login-section .form-group a.btn {
    display: block !important;
    width: 100%;
    text-overflow: unset;
    white-space: normal;
    padding-bottom: 0;
  }

  .page-login-section .form-group > div {
    display: block !important;
  }

  .page-login-section .form-wrapper {
    min-width: auto;
  }

  .category-item {
    margin: 24px 0 !important;
    display: block;
  }

  .page-vote .form-group .radio-inline-block .radio-inline {
    width: 100%;
    margin: 12px 0;
  }

  .radio-click-area {
    min-height: auto;
  }
}

@media screen and (max-width: 767px) {
  footer .logo-wrapper {
    width: 140px;
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  .copyright-wrapper {
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
  }

  .copyright-wrapper ul {
    justify-content: center;
    flex-direction: column;
  }

  .copyright {
    margin-bottom: 14px;
  }

  footer li a {
    color: #ffffff;
    padding: 6px 0;
    display: block;
  }

  .line-one {
    flex-direction: column;
  }

  .line-one > div {
    margin: 8px 0;
  }

  .form-wrapper {
    min-width: initial;
    width: 100%;
  }

  .projects select[name="theme"] {
    margin-bottom: 1em;
  }

  .projects .filter-clear {
    height: 48px;
    width: 100%;
    padding: 0px 10px;
    margin-top: 1em;
  }

	.stat-content a .stat-title {
		flex: auto;
	}

	.stat-content a {
		flex-direction: column;
	}

	.stat-win,
  .stat-count {
    margin-left: 0;
		margin-top: 12px;
  }

	ul.tab li {
		display: block;
	}

  .hero h1 {
    font-size: 28px;
  }

  article.post-card {
    width: 50%;
  }

  .posts .post-image {
    height: 120px;
  }

  .newsletter {
    padding: 60px 0;
  }

  .overview-value-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 769px) {
  .search-area h1 {
    font-size: 28px;
  }

  .search-area select {
    margin-bottom: 15px;
  }

  .prop-inner-wrapper {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .prop-single-sidebar {
    padding: 0 5px;
  }

  .prop-single-sidebar .prop-single-content {
    display: flex;
    flex-direction: column;
  }

  .prop-single-sidebar .prop-single-content .btn.btn-vote {
    order: 2;
    margin-top: 30px;
  }

  .prop-single-content {
    padding: 40px 35px;
  }
}

@media screen and (max-width: 576px) {
  .vote-modal h3 {
    font-size: 16px;
  }

  .form-status {
    margin: 40px 0;
  }
}

@media screen and (max-width: 442px) {
  .vote-modal {
    padding: 8px;
  }

  article.post-card {
    width: 100%;
  }
}

